In [31]:
!python -m pip install statsmodels

G:\Data Science Project\Credit-Risk-Management-System\Credit_Risk_Management\Scripts\python.exe: No module named pip

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from scipy.stats import chi2_contingency
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report
#import warning
import os

ModuleNotFoundError: No module named 'statsmodels'

In [2]:
a1 = pd.read_csv('case_study1.csv')
a2= pd.read_csv('case_study2.csv')

In [3]:
df1 = a1.copy()
df2 = a2.copy()

In [4]:
df1.head(4)

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.2,0.8,...,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.0,0.0,...,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.0,0.0,...,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,5,5

In [5]:
df2.head(4)

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,...,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,9.900,0,0,others,others,673,P2

In [6]:
df1.shape

(51336, 26)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROSPECTID            51336 non-null  int64
 1   Total_TL              51336 non-null  int64
 2   Tot_Closed_TL         51336 non-null  int64
 3   Tot_Active_TL         51336 non-null  int64
 4   Total_TL_opened_L6M   51336 non-null  int64
 5   Tot_TL_closed_L6M     51336 non-null  int64
 6   pct_tl_open_L6M       51336 non-null  float64
 7   pct_tl_closed_L6M     51336 non-null  float64
 8   pct_active_tl         51336 non-null  float64
 9   pct_closed_tl         51336 non-null  float64
 10  Total_TL_opened_L12M  51336 non-null  int64
 11  Tot_TL_closed_L12M    51336 non-null  int64
 12  pct_tl_open_L12M      51336 non-null  float64
 13  pct_tl_closed_L12M    51336 non-null  float64
 14  Tot_Missed_Pmnt       51336 non-null  int64
 15  Auto_TL               51336 non-null  int64
 16  CC_TL                 51336 non-null  int64
 17  Consumer_TL           51336 non-null  int64
 18  Gold_TL               51336 non-null  int64
 19  Home_TL               51336 non-null  int64
 20  PL_TL                 51336 non-null  int64
 21  Secured_TL            51336 non-null  int64
 22  Unsecured_TL          51336 non-null  int64
 23  Other_TL              51336 non-null  int64
 24  Age_Oldest_TL         51336 non-null  int64
 25  Age_Newest_TL         51336 non-null  int64
dtypes: float64(6), int64(20)
memory usage: 10.2 MB


Initially looking at the 'Age_Oldest_TL' cloumn which contain value -99999 which is actually outlier so at first Dealing with this.

In [8]:
df1[df1['Age_Oldest_TL']==-99999]

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
532,533,2,2,0,0,0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,2,0,2,-99999,-99999
804,805,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
1179,1180,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,1,0,0,1,0,0,-99999,-99999
3299,3300,1,1,0,0,0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,1,1,-99999,-99999
5694,5695,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
5951,5952,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
9079,9080,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
10003,10004,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
10859,10860,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,1,0,1,-99999,-99999
12017,12018,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
12478,12479,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
12603,12604,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
15248,15249,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
16903,16904,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
21698,21699,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
22649,22650,1,1,0,0,0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,1,-99999,-99999
23272,23273,1,1,0,0,0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,1,-99999,-99999
24409,24410,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
25778,25779,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
26228,26229,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
28495,28496,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,1,0,1,0,0,-99999,-99999
29034,29035,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
29838,29839,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
29900,29901,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
30732,30733,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
32048,32049,1,1,0,0,0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,1,-99999,-99999
33012,33013,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
34897,34898,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
36155,36156,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
36705,36706,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,1,0,1,0,-99999,-99999
37908,37909,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
39097,39098,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,1,0,1,-99999,-99999
39747,39748,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
41266,41267,1,1,0,0,0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,0,-99999,-99999
42863,42864,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
45680,45681,6,6,0,0,0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,6,0,6,-99999,-99999
46777,46778,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,1,0,1,-99999,-99999
46954,46955,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999
50291,50292,2,0,2,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,2,0,2,-99999,-99999
50804,50805,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,-99999,-99999

In [9]:
#Removing the 40 column
df1 = df1.loc[df1['Age_Oldest_TL']!=-99999]

In [10]:
#now collecting all the columns which have more than 10000 rows null value
col_with_null_values= []
for i in df2.columns:
    if (df2.loc[df2[i]== -99999].shape[0]>10000):
        col_with_null_values.append(i)

In [11]:
print(col_with_null_values)

['time_since_first_deliquency', 'time_since_recent_deliquency', 'max_delinquency_level', 'max_deliq_6mts', 'max_deliq_12mts', 'CC_utilization', 'PL_utilization', 'max_unsec_exposure_inPct']

In [12]:
#since this column contain very high amount of null value so we will gone a remove it
df2 = df2.drop(columns=col_with_null_values,axis=1)

In [13]:
#now will we will see other null values and if it is in less amount than we will remove it
for i in df2.columns:
    df2 = df2.loc[df2[i]!=-99999]

In [14]:
df2.shape

(42066, 54)

In [15]:
#checking is there any other null values or not
df2.isna().sum()

PROSPECTID                    0
time_since_recent_payment     0
num_times_delinquent          0
max_recent_level_of_deliq     0
num_deliq_6mts                0
num_deliq_12mts               0
num_deliq_6_12mts             0
num_times_30p_dpd             0
num_times_60p_dpd             0
num_std                       0
num_std_6mts                  0
num_std_12mts                 0
num_sub                       0
num_sub_6mts                  0
num_sub_12mts                 0
num_dbt                       0
num_dbt_6mts                  0
num_dbt_12mts                 0
num_lss                       0
num_lss_6mts                  0
num_lss_12mts                 0
recent_level_of_deliq         0
tot_enq                       0
CC_enq                        0
CC_enq_L6m                    0
CC_enq_L12m                   0
PL_enq                        0
PL_enq_L6m                    0
PL_enq_L12m                   0
time_since_recent_enq         0
enq_L12m                      0
enq_L6m                       0
enq_L3m                       0
MARITALSTATUS                 0
EDUCATION                     0
AGE                           0
GENDER                        0
NETMONTHLYINCOME              0
Time_With_Curr_Empr           0
pct_of_active_TLs_ever        0
pct_opened_TLs_L6m_of_L12m    0
pct_currentBal_all_TL         0
CC_Flag                       0
PL_Flag                       0
pct_PL_enq_L6m_of_L12m        0
pct_CC_enq_L6m_of_L12m        0
pct_PL_enq_L6m_of_ever        0
pct_CC_enq_L6m_of_ever        0
HL_Flag                       0
GL_Flag                       0
last_prod_enq2                0
first_prod_enq2               0
Credit_Score                  0
Approved_Flag                 0
dtype: int64

In [16]:
#now we are merging two tables for that we required one common column we are checking that first
for i in df1.columns:
    if i in list(df2.columns):
        print(i)

PROSPECTID

In [17]:
#meriging two table with the common column 'PROSPECTID'
df = pd.merge(df1,df2,how='inner',left_on=['PROSPECTID'],right_on=['PROSPECTID'])

In [18]:
df.sample(2)

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
9757,11835,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0,0,ConsumerLoan,others,677,P2
19026,23222,3,0,3,0,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0,0,ConsumerLoan,others,691,P2

# Feature Selection for categorical column

In [19]:
#now we will treat categorical and numerical column seprately 
#checking how many categorical columns are there 
categorical_columns=[]
for i in df.columns:
    if df[i].dtype=='object':
        categorical_columns.append(i)
print(categorical_columns)

['MARITALSTATUS', 'EDUCATION', 'GENDER', 'last_prod_enq2', 'first_prod_enq2', 'Approved_Flag']

In [20]:
for i in categorical_columns:
    print(f'{i} columns value counts:')
    print(df[i].value_counts())
    print('---------------------------')

MARITALSTATUS columns value counts:
Married    30886
Single     11178
Name: MARITALSTATUS, dtype: int64
---------------------------
EDUCATION columns value counts:
GRADUATE          14140
12TH              11703
SSC                7241
UNDER GRADUATE     4572
OTHERS             2291
POST-GRADUATE      1898
PROFESSIONAL        219
Name: EDUCATION, dtype: int64
---------------------------
GENDER columns value counts:
M    37345
F     4719
Name: GENDER, dtype: int64
---------------------------
last_prod_enq2 columns value counts:
ConsumerLoan    16480
others          13653
PL               7553
CC               2195
AL               1353
HL                830
Name: last_prod_enq2, dtype: int64
---------------------------
first_prod_enq2 columns value counts:
others          20640
ConsumerLoan    11075
PL               4431
AL               2641
CC               1988
HL               1289
Name: first_prod_enq2, dtype: int64
---------------------------
Approved_Flag columns value counts:
P2    25452
P3     6440
P4     5264
P1     4908
Name: Approved_Flag, dtype: int64
---------------------------

Hypothesis  Testing 

Are these two column interrelated--MaritialStatus and Approved Flag

1

H0: NuLL hypothesis

Not associated 

2.

H1: Alternate hypothesis

Associated

3. Alpha (Assumed)(This means how much we want to restict with our output)
Significane level
Strictness level
5% = 0.05(mainly used in industry)
0.0001

Note:

Less risky project = high alpha

More risky projects = Less alpha



4. Calculate the evidence aganist H0 

i.e p-value


Way to calculate P-VALUE is:
T-test, ChiSquare, Anova

5. Comparing p-value with alpha:

if p-vlaue<alpha:

    reject H0 hypothesis
    
 else:
 
     fail to reject H0

6. Among all these testing in which condition which testing is used?

ChiSquare = Categorical Vs Categorical Column

T-test= Categorical Vs Numerical (when 2 categories is present)

Anova = Cat Vs Num (when cat_value>=3)

In [21]:
#Chi-Square Test for the categorical column
for i in ['MARITALSTATUS', 'EDUCATION', 'GENDER', 'last_prod_enq2', 'first_prod_enq2']:
    chi2,p_value,_,_=chi2_contingency(pd.crosstab(df[i],df['Approved_Flag']))
    print(i,'---',p_value)

MARITALSTATUS --- 3.578180861038862e-233
EDUCATION --- 2.6942265249737532e-30
GENDER --- 1.907936100186563e-05
last_prod_enq2 --- 0.0
first_prod_enq2 --- 7.84997610555419e-287

In [22]:
#since we can see p_value of 4 column is less than 0.05 so all are imp
#so feature selection for categorical column has done

# Feature Selection for numerical Column

In [26]:
#at first finding all the feature column
num_columns=[]
for i in df.columns:
    if df[i].dtype!='object' and i not in ['PROSPECTID','Approved_Flag']:
        num_columns.append(i)

In [28]:
print(len(num_columns))

72

# Now we check multicolinearity i.e if there any column which are interrealted to each other.

#Multicollinearity vs correlation

Multicollinearity = Predictability of each feature by other features.

This means we see each feature and try to see can we build this feature using other present feature in Multicollinearity.
Correlation=

#Note:
we mostly use multicollinearity in coperate field because Correlation is specific to linear relation between column.
In Convex function corr() will give missleading value

# Q How we check Multicollinearity?
we calculate the VIF(Varience Inflation Factor):

VIF= 1/(1-R^2)

if VIF  = 1 : No Multicollinearity

VIF between 1 and 5 : Low Mulicollinearity

VIF between 6 and 10 : Moderate Mulicollinearity

VIF above : High Mulicollinearity